html {
  font-size: 16px;
  font-family: "Arial", sans-serif;
}


body {
  background-color: #fff;
}
h3 {
  color: #FFF;
  font-size: 2em;
  padding-top: 100px;
  width: 100%;
  font-family: "Arial Black", Gadget, sans-serif;  
 
  text-align: center;
}
  

p {
  color: AliceBlue;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
}

.byline {
  font-family: Helvetica;
  color: rgba(255, 255, 255, 255);
  float: left;
  font-size: 14px;
  padding-left: 10px;
  text-transform: uppercase;
}

.my-img {
  float: left;
  width: 150px;
}

.about {
  background-color: #6d6d6d;
  padding: 100px 0;
  margin-top: 77px;
  text-align: center;
}

.about {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.4;
  font-family: "Glegoo";
  font-size: 20px;
}

.header {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: 900;
}

.header li {
  display: inline-block;
}

.header a {
  display: block;
  color: #4A4A4A;
  padding: 30px 20px;
}



